:root {
  --primary-color:#060809;
  --negro: #393939;
  --tipo-principal: 'Satoshi', sans-serif;
  --tipo-secundaria: Verdana;
  --nav-height: 7.2rem;
  --text-color:#E7E7E7;
}
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.main{
  background-color:var(--primary-color);
}
.header{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 110vh;
  background-color:var(--primary-color);
}
/* nav Bar */
.navigation{
  position: fixed;
  width: 100%;
  max-width: 120rem;
  background-color:var(--primary-color);
  color: #fff;
  padding:1em;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items: flex-start;
}
.navigation .button{
  display: none;
  cursor: pointer;
}
.navigation .svg{
  width: 2em;
  height: 2em;
  fill: white;
}
.navigation .nav{
  width: 80%;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  transition: all .5s ease-in-out;
}
.navigation .nav .buttons{
  display: flex;
  gap: 3.125rem;
}
.btn{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;
  width: 93px;
  height: 44px;
  color: white;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}
.btn.-white{
  background: #FFFFFF;
  color:var(--primary-color);
}
.btn:hover{
  background: #FFFFFF;
  color: var(--primary-color);
}
.btn.-white:hover{
  background: none;
  color: #FFFFFF;
}
.navigation .ul{
  display: flex;
  gap: 2.125rem;
  flex-flow: row nowrap;
  justify-content:flex-end;
  align-items: center;
}
.navigation .li{
  margin: 0 0.5em;
}
@media screen and (max-width:480px){
  .navigation{
    justify-content:space-between;
  }
  .navigation .button{
    display: block;
  }
  .navigation .nav{/*quando o botão não estiver ativo */
    width: 100%;
    overflow: hidden;
    pointer-events: none;/*para não ter efeito no mouse*/
    height: 0;
    transition: all .5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .navigation .nav.ativo{/*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    display: flex;
    height: 60vh;
    pointer-events: auto;
    justify-content: space-around;
    transition: all .5s ease-in-out;
  }
  .navigation .nav .buttons {
    display: flex;
    gap: 3.125rem;
    justify-content: center;
}
  .navigation .ul{
    flex-direction: column;
  }
  .navigation .li{
    margin: 1em 0;
  }
  .header .container{
    flex-flow: column nowrap;
  }
  .header .container .content {
    width: auto;
    padding:0;
    
  }
  .header .container .content-img {
    width: 100%;
  }
/*section*/
  .section .conteudo{
    padding-bottom: 18rem;
    
  }
/*title*/
  .conteudo .texto .titulo{
    width: 335px;
    height: 32px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.824px;
  }
/*frames*/
  .frames{
    gap: 1.25rem;
  }

/*grid*/
  .conteudo .grid-container {
    display: flex;
    flex-flow: column nowrap;
  }
  .conteudo .grid-container .grid-item{
    width: 335px;
    height: 574.72px;
  }
/*footer*/
  .footer .container-footer {
    width: 100%;
    align-items: center; 
    justify-content: center;
    gap: 2.125rem;
    flex-flow: column nowrap;
    background-color: #0B0C0D;
  }
  .footer .container-footer .medias{
    padding-top: 8rem;
    flex-flow: column-reverse nowrap !important;
    gap: 2.125rem;
  }
  .footer .container-footer .medias .social-media{
    justify-content: center;
  }
  .footer .container-footer .medias .logo-footer{
    display: flex;
    flex-flow: column nowrap;
    gap: 3.125rem;
  }
  .footer .container-footer .medias .logo-footer::after{
    content: "";
    display: block;
    width: 335px;
    height: 1px;
    background: #A0AEC0;
  }
  .footer .container-footer .copy{
    text-align: center;
  }
}
/*fim navigation Bar */
  .container{
    display: flex;
    width: 100%;
    max-width: 120rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
    background-color: var(--primary-color);
    padding-top: calc(4.1rem + var(--nav-height));
  }
  .container .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    padding: 1rem;
  }
  .container .content-img {
    width: 60%;
  }
  .bdg .h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  .container .content .cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
  }
  .container .content .text{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.125rem;
  }
  .p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #E7E7E7;
    }
  .container .content .bdg{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
/*section*/
  .section{
    width: 100%;
    padding: 96px 0px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #060809;
  }
  .section .h3{
    font-style: normal;
    font-weight: 400;
    font-size: 23.8369px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    gap: .70rem;
  }
  .section .destaque{
    color: #712FFF;
  }
  .conteudo{
    width: 90%;
    max-width: 120rem;
    gap: 64px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:center;
    padding: 96px 0px;
  }
  .texto{

  }
  .titulo{
    width: 708.64px;
    height: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.824px;
    color: #FFFFFF;
    gap: 1.25rem;
  }
/*frames*/
  .-scFrames{
  }
  .conteudo.-scFrames{
    
  }
  .frames{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
  }

/*grid */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .grid-item {
    gap: 31.29px;
    max-width: 406.89px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color:#1B1C20;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    border-radius: 23.8369px;
  }
  .img-menor{
    width: 102.32px;
    height: 101px;
  }
  .img-media{
    width: 103.24px;
    height: 65.55px;
  }
  .img-media2{
    width: 173.81px;
    height: 90.38px;
  }
  .img-grande{
    width: 300px;
    height: 300px;
  }
  .wide {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
    max-width: 408.03px;
    gap: 0;
    justify-content:space-around;
  }
  .t{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }
/*section cards*/
  .conteudo.-cards {
    display: flex;
    flex-flow: row nowrap;
    background: #1B1C20;
    border-radius: 25.6px;
    background-image: url(./img/Group\ 18942.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
  .conteudo.-cards .texto{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 1.125rem;
    width: 50%;
    padding: 2rem;
  }
  .conteudo.-cards .texto .button {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  .conteudo.-cards .texto .button .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.9688 1.625rem 1.0313rem 1.75rem;
    gap: 23.2px;
    width: 163.2px;
    height: 56px;
    border-radius: 405px;
  }
  .conteudo.-cards .texto .button .btn::after{
    content: url(./img/svg.svg);
  }
  .conteudo.-cards .texto .button .btn::after:hover{
    fill: #fff;
  }
  .conteudo.-cards .image-container{
    display: block;
    width: 50%;
  }
/*Footer*/
  .footer{
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    padding:1rem;
    background-color: var(--primary-color);
  }
  .footer .container-footer .medias{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2.125rem;
  }
  .container-footer{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:space-between;
  }
  .social-media{
    display: flex;
    flex-flow: row nowrap;
    gap: 1.125rem;
  }